body {
	background: #FFF;
	font-family: Helvetica, Arial;
	font-size: 12px;
}

#canvas-editor, #editor, #canvas, #play-overlay, #play-page .extra-editor {
	position: relative;
	height: 360px;
	/*
	width: 640px;
	top: 0px;
	left: 0px;
	*/
	/*width: 100%;*/
}

#canvas, #play-overlay {
	position: absolute;
}

#canvas {
	z-index: 1;
	cursor: crosshair;
	opacity: 0.3;
}

#play-page #canvas {
	display: none;
}

#editor, #play-page .extra-editor {
	z-index: 2;
	background: #FFF;
}

#play-overlay {
	z-index: 3;
	display: none;
}

#canvas.canvas {
	z-index: 2;
	opacity: 1.0;
}

#editor.canvas {
	z-index: 1;
}

#editor-box, #tests-box, #output-box, #solution-box {
	overflow: hidden;
	border-bottom: none;
	position: relative;
}

#play-page .extra-editor {
	height: 393px;
}

#play-page #code.done .extra-editor {
	height: 360px;
}

#editor-box-tabs-nav {
	position: absolute;
	top: 394px;
	left: 0px;
	width: 636px;
	padding-left: 4px;
	padding-right: 0px;
	z-index: 10;
	border-top: 1px solid #327E04;
}

#editor-box-tabs-nav li {
	top: -2px;
	border-top: none;
	border-bottom: 1px solid #D4CCB0 !important;
	margin-right: 4px;
}

#editor-box-tabs-nav li.ui-tabs-selected {
	top: -3px;
	border-bottom: 1px solid #327E04 !important;
}

#editor-box-tabs-nav li a {
	padding: 3px 8px;
}

#output {
	overflow: hidden;
	position: relative;
}

#output-text form {
	display: inline-block;
	margin: 0;
}

#output-text div {
	line-height: 28px;
	margin: 2px 5px;
	font-family: Monaco, Courier New;
	font-size: 12px;
}

#output-text div input.text {
	font-family: Monaco, Courier New;
	font-size: 12px;
	width: 125px;
}

.toolbar {
	font-size: 12px;
	width: 630px;
	padding: 3px;
	margin-bottom: 5px;
}

#canvas-editor .toolbar {
	margin-bottom: 0px;
	border: none;
	border-top: 1px solid #DDD;
}

.toolbar div.space {
	display: inline-block;
	height: 1px;
	width: 30px;
}

.toolbar #progress {
	display: inline-block;
	width: 400px;
	margin-left: 10px;
}

.toolbar .ui-slider-range-min {
	background: #3BAAE3;
}

.toolbar .ui-slider .ui-slider-handle {
	width: 0.6em;
	margin-left: -.3em;
	outline: none;
}

a.ui-button:link:hover,
a.ui-button:visited:hover {
	color: #FFF;
}

#editor .ace_gutter, #play-page .extra-editor .ace_gutter {
	background: #F5F3E5; /*#D7EBF9;*/
	width: 50px;
}

#editor .ace_scroller, #play-page .extra-editor .ace_scroller {
	overflow-x: auto;
}

#editor .ace_sb, #play-page .extra-editor .ace_sb {
	overflow-y: auto;
}

#editor .ace_active_line, #play-page .extra-editor .ace_active_line {
	background: rgba(215, 235, 249, 0.5);
}

#player {
	position: absolute;
	left: -999px;
}

#timeleft {
	position: relative;
	top: -2px;
	margin-left: 10px;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 4px;
	padding: 3px;
}

#tests {
	font-size: 12px;
}

#tests textarea {
	width: 100%;
	min-height: 100px;
	margin-top: 10px;
}

#play-page .tipbar {
	background: rgba(0, 0, 0, 0.6);
	color: white;
	position: absolute;
	width: 100%;
	min-height: 40px;
	bottom: 5px;
	left: 0px;
	z-index: 2;
	display: none;
	border: none;
	font-weight: normal;
	margin: 0px;
}

#play-page #output .tipbar {
	z-index: 51;
}

#play-page .tipbar.error {
	background: rgba( 255, 0, 0, 0.6 );
}

#play-page .tipbar .text-wrap {
	margin: 8px 20px 33px 8px;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.4em;
}

#play-page .tipbar .tipnav {
	position: absolute;
	right: 144px;
	bottom: 4px;
}

#play-page .tipbar .tipnav a {
	display: inline-block;
	background: rgba( 255, 255, 255, 0.2 );
	border-radius: 5px;
	padding: 1px 1px 1px 3px;
	font-size: 10px;
	line-height: 16px;
	height: 16px;
}

#play-page .tipbar .tipnav a.prev {
	padding: 1px 3px 1px 1px;
}

#play-page .tipbar .tipnav a .ui-icon {
	display: inline-block;
	vertical-align: middle;
	margin-top: -4px;
}

#play-page .tipbar .text a {
	text-decoration: underline;
}

#play-page .tipbar .close {
	position: absolute;
	top: 4px;
	right: 4px;
}

#play-page .tipbar form input {
	margin-top: 8px;
	margin-bottom: 8px;
}

#play-page .tipbar form .ui-button {
	margin-left: 8px;
}

#play-page .tipbar .status .ui-icon {
	display: inline-block;
	position: relative;
	top: 4px;
}

#play-page #playbar {
	display: none;
}

#play-page #exercise-tabs {
	/*width: 948px;*/
	width: 1184px;
}

#play-page #code {
	padding: 0;
}

#play-page #code .toolbar {
	width: auto;
	overflow: auto;
	background: #70C448; /*#F5F3E5;*/ /*#D7EBF9;*/
	position: relative;
	z-index: 5;
}

#play-page #code .toolbar.top-toolbar {
	background: #70C448;
}

#play-page #code .top-toolbar {
	border-top: none;
}

#play-page #code .toolbar .ui-button.right {
	float: right;
	margin-left: 2px;
}

#play-page #code .next-toolbar {
	display: none;
}

#play-page #code.done .next-toolbar {
	display: block;
}

#play-page:not(.scratch) #code.done .toolbar .ui-button:not(.next-problem):not(.ui-state-disabled) {
	opacity: 0.9;
}

#play-page #code.done .next-problem , #play-page #code:not(.done) #run-code {
	border: 1px solid black;
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,1);
}

#play-page .ui-tabs-nav .icon-tab a {
	padding-left: 2em;
}

#play-page .ui-tabs-nav a span {
	display: inline-block;
	position: absolute;
	top: 7px;
	left: 8px;
}

#play-page #main-tabs-nav {
	border-bottom-color: #327E04; /*#D4CCB0;*/ /*#2779AA;*/
	/*width: 942px;*/
}

#play-page .#main-tabs-nav li.ui-tabs-selected {
	/*background: #F5F3E5;*/ /*#D7EBF9;*/
	/*color: #000;*/ /*#2779AA;*/
	/*border-color: #D4CCB0;*/ /*#2779AA;*/
}

/*
#play-page .ui-tabs-nav li.ui-tabs-selected a {
	color: #000;
}
*/

#play-page #tests {
	padding: 0;
	border: none;
}

#play-page #tests .ui-tabs-nav {
	padding-left: 4px;
	padding-right: 0px;
	border-bottom: none;
}

#play-page #tests .ui-tabs-nav li {
	margin-right: 4px;
}

#play-page #tests .ui-tabs-nav li a {
	padding: 3px 8px;
}

#play-page #tests .ui-tabs-panel, #play-page #tests .ui-tabs-nav li.ui-state-active {
	background: rgb(245, 243, 229) url(images/ui-bg_highlight-hard_100_f5f3e5_1x100.png) 50% top repeat-x;
	border: 1px solid rgb(212, 204, 176);
}

#play-page #tests .ui-tabs-panel {
	padding: 1em 0.4em;
}

#play-page #tests h3 {
	font-size: 1em;
	padding: .5em .5em .5em .7em;
	cursor: auto;
	background: #F5F3E5; /*#D7EBF9;*/
	border: 1px solid #D4CCB0;
	border-bottom: none;
}

#play-page #tests .ui-widget-content {
	/*margin-bottom: 1em;*/
	border-top: none;
}

#play-page #tests .desc {
	padding: 1em .7em;
}

#play-page #tests #problem {
	margin-bottom: 1em;
}

#play-page #tests #problem .desc {
	padding: 0 .7em;
}

#play-page #tests #problem .ui-widget-content {
	border-width: 0px;
}

#play-page #next-problem-desc {
	display: none;
}

#play-page #next-problem-desc p .ui-icon {
	display: inline-block;
	position: relative;
	top: 4px;
}

#play-page #results {
	display: none;
}

#play-page #results h3 {
	background: none;
	color: black;
	border: none;
	border-bottom: 1px solid rgb(212, 204, 176);
}

/*
#play-page #results h3 {
	background: #70C448;
	color: #FFF;
}

#play-page #results.error h3 {
	background: #CD0A0A;
}
*/

#play-page #results .ui-widget-content {
	border: none;
	background: none;
}

#play-page #results .desc {
	padding: 0px;
}

#play-page #results fieldset {
	padding: 0px;
}

#play-page #results legend {
	display: none;
}

#play-page #results.multiple fieldset {
	border: 1px solid #CCC;
	padding: 4px;
	border-radius: 4px;
	margin-bottom: 8px;
}

#play-page #results.multiple legend {
	padding: 0 8px;
	font-size: 12px;
	display: block;
}

#play-page #results .ui-button {
	margin-top: 1em;
	display: none;
}

#play-page #results ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#play-page #results li {
	margin: 4px 0;
	padding: 2px 2px 2px .7em;
	background: none;
	border-radius: 5px;
	position: relative;
}

#play-page #results li.task ul {
	display: none;
}

#play-page #results li a {
	text-decoration: none;
	border-bottom: 1px solid #CCC;
}

#play-page #results li .check {
	display: inline-block;
	float: left;
	border: 1px solid rgb(212, 204, 176);
	margin-right: 3px;
}

#play-page #results li.error .ui-icon {
	background: url(images/ui-icons_cd0a0a_256x240.png);
	background-position: 0 -144px;
}

#play-page #results li.pass .ui-icon {
	background: url(images/ui-icons_4eb305_256x240.png);
	background-position: -64px -144px;
	/* background-position: -208px -192px; */
}

#play-page #results .ui-icon-none {
	background: none;
}

#play-page #results li span.msg {
	display: block;
	margin-left: 20px;
}

#play-page #results .tip {
	display: block;
	position: absolute;
	top: 25px;
	left: 0px;
	background: white;
	border: 2px solid #70C448;
	border-radius: 5px;
	color: black;
	padding: 5px;
	margin: 0 3px;
	z-index: 3;
}

#play-page #results .error .tip, #play-page #results .fail .tip {
	border: 2px solid #CD0A0A;
}

#play-page #results legend a {
	border-bottom: 1px solid #CCC;
}

#play-page .ui-dialog-titlebar-close {
	display: none;
}

/*
div#play-page,
div#exercise-page {
	padding: 0 2em;
}
*/

#exercise-page a:hover {
	color: auto;
}

#exercise-page .editor {
	position: relative;
	width: 640px;
	height: 360px;
}

#exercise-page .editor .ace_gutter {
	background: #EEE; /*#DEEDF7;*/
}

#exercise-page .editor .ace_scroller {
	overflow-x: auto;
}

#exercise-page .editor .ace_sb {
	overflow-y: auto;
}

#exercise-page #exercise-editor {
	position: relative;
}

#exercise-page #tests {
	right: 0px;
	position: absolute;
	width: 300px;
	top: 0px;
}

#exercise-page #tests textarea {
	margin-bottom: 10px;
}

#exercise-page .editor-form {
	margin-right: 315px;
	display: block;
}

#exercise-page .ui-tabs {
	padding: 0;
}

#exercise-page .ui-tabs-panel {
	padding: 8px 0;
}

#exercise-page .ui-tabs.ui-widget-content {
	border: none;
	background: #fff;
}

#exercise-page .toolbar {
	width: auto;
}

#exercise-page #add-problem, #exercise-page #reorder-problems {
	float: right;
}

#exercise-page #overlay, #play-page #overlay, #output .overlay {
	display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    z-index: 50;
	margin: 0;
}

#play-page #overlay {
	z-index: 100;
}

#exercise-page .sorting h3:not(.exercise-name) a {
	cursor: move;
}

#exercise-page .add-hint {
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 12px;
}

#exercise-page #hints .hint {
    position: relative;
    padding: 4px 40px 4px 25px;
    margin: 4px;
}

#exercise-page #hints span.grip {
    position: absolute;
    top: 9px;
    left: 4px;
}

#exercise-page #hints input {
	width: 100%;
}

#exercise-page #hints .remove-hint {
    font-size: 9px;
    position: absolute;
    top: 7px;
    right: 4px;
}

#exercise-page .ui-accordion-content {
	overflow: hidden;
}

#exercise-page .ui-button-text,
#exercise-page .ui-tabs-nav a,
#exercise-page .ui-accordion-header.ui-state-default a {
	font-weight: normal;
}

.hotnumber {
	position: absolute;
	display: block;
	z-index: 100;
	width: 31px;
	background: black;
	padding: 5px;
	border-radius: 7px;
	margin-top: -29px;
	margin-left: -20px;
	box-shadow: 0px 0px 8px rgba(0,0,0,1);
	opacity: 0.2;
}

.hotnumber.picker {
	width: 15px;
	height: 15px;
	margin-top: -5px;
	margin-left: 13px;
	left: 22px;
	box-shadow: 0px 0px 4px rgba(0,0,0,1);
	opacity: 1;
}

.hotnumber.picker:hover {
	width: 196px;
	height: 156px;
	margin-left: 13px;
}

.hotnumber:hover {
	opacity: 1;
	width: 100px;
	margin-left: -55px;
}

.hotnumber .arrow {
	position: absolute;
	bottom: -8px;
	left: 13px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid black;
}

.hotnumber:hover .arrow {
	left: 48px;
}

.hotnumber.picker .arrow {
	border: none;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-right: 8px solid black;
	left: -7px;
	top: 5px;
	bottom: auto;
}

.hotnumber.picker .picker {
	overflow: hidden;
	position: relative;
	width: 15px;
	height: 15px;
	border: 1px solid white;
	margin-left: -1px;
	margin-top: -1px;
}

.hotnumber.picker:hover .picker {
	height: 160px;
	width: 198px;
}

.hotnumber.picker .picker .colorpicker {
	position: relative;
	top: 0px;
	left: 0px;
}

.hotnumber.picker:hover .picker .colorpicker {
	left: -10px;
	top: -10px;
}

.hotnumber.picker .colorpicker_new_color {
	width: 15px;
	height: 15px;
	left: 0px;
	top: 0px;
}

.hotnumber.picker:hover .colorpicker_new_color {
	display: none;
}

.hotnumber .ui-slider-handle {
	width: 8px;
}

.hotnumber .colorpicker_field {
	display: none;
}

#output.side {
	height: 393px;
	border: 1px solid #D4CCB0;
}

#play-page #output.side .toolbar {
	margin: 0;
	top: 360px;
	position: relative;
	width: auto;
	z-index: 52;
}

#output-text-test {
	display: none;
}

#output-text, #output-canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 400px;
	height: 360px;
	display: none;
	overflow: auto;
}

#play-page.scratch #output-text,
#play-page.scratch #output-canvas,
#play-page.scratch #output.side,
#play-page.scratch #editor {
	height: 400px;
}

#play-page.scratch #output.side {
	width: 400px;
}

#play-page.scratch h1 {
	line-height: 44px;
}

#play-page.scratch #editor {
	border-bottom: 1px solid #DFD9C3;
}

#play-page.scratch h2 {
	position: relative;
	top: 20px;
	clear: both;
}

#play-page.scratch #docs {
	border: 1px solid #D4CCB0;
	margin-top: 20px;
	margin-left: 0px;
	width: 964px;
	clear: both;
	padding: 20px 0;
}

#play-page.scratch #docs li {
	margin: 4px 0;
}

#play-page.scratch #docs code {
	padding: 1px;
	color: #000;
}

#play-page.scratch #exercise-tabs {
	margin-left: 0px;
	width: auto;
}

#play-page.scratch #canvas-editor {
	width: 984px;
}

#play-page.scratch #code .toolbar {
	border: none;
	background: #fff;
}

#play-page.scratch #editor-box {
	border: none;
}

#play-page.scratch #editor {
	border: 1px solid #DFD9C3;
}

#play-page.scratch #output-box {
	width: 402px;
}

#play-page.scratch #canvas {
	width: 400px;
	height: 400px;
}

#play-page.scratch #canvas.canvas {
	display: block;
	z-index: 100;
}

#play-page.scratch .toolbar #progress {
	width: 212px;
}

#play-page.scratch .toolbar #draw-widgets {
	display: none;
}

#play-page.scratch .toolbar .ui-slider-range-min {
	background: #678D00;
}

#play-page .dev-only {
	display: none;
}

#play-page.developer .dev-only {
	display: block;
}

/* Swap the Y-axis, matching it closer to traditional mathematical drawing. */
#play-page.scratch #output-canvas {
	-webkit-transform: scaleY(-1);
	-moz-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	-ms-transform: scaleY(-1);
	transform: scaleY(-1);
}

/* Dark colors for Scratchpad */

html.dark #play-page.scratch #code .toolbar {
	background: #333;
}

html.dark .content.scratch {
	background: #333;
	color: #fff;
	overflow: auto;
}

html.dark .content.scratch h1,
html.dark .content.scratch h2,
html.dark .content.scratch h3,
html.dark .content.scratch h4 {
	color: #fff;
}

html.dark #play-page.scratch .ace_sb,
html.dark #play-page.scratch .ace_scroller {
	background: #0f0f0f;
}

html.dark .hotnumber {
	background: #fff;
	box-shadow: 0px 0px 8px rgba(255,255,255,1);
}

html.dark .hotnumber .ui-slider {
	background: #0f0f0f;
}

html.dark .hotnumber .arrow {
	border-top-color: #fff;
}

html.dark .hotnumber.picker .arrow {
	border-top-color: transparent;
	border-right-color: #fff;
}

html.dark .hotnumber.picker .picker {
	border: 1px solid black;
}

/* 720p resizing for Scratchpad */
@media (min-width: 1300px) {
	#play-page.scratch #canvas-editor {
		width: 1300px;
	}
	
	#play-page.scratch #editor {
		height: 718px;
	}
	
	#play-page.scratch #output.side {
		margin-left: 18px;
	}
	
	#play-page.scratch #output.side, #play-page.scratch #output.side #output-canvas {
		width: 718px;
		height: 718px;
	}
}