body {
	background: #FFF;
	font-family: Helvetica, Arial;
	font-size: 12px;
}

#canvas-editor {
	position: relative;
	width: 640px;
	height: 360px;
}

#canvas, #editor, #overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 640px;
	height: 360px;
}

#canvas {
	z-index: 1;
	cursor: crosshair;
	opacity: 0.3;
}

#editor {
	z-index: 2;
}

#overlay {
	z-index: 3;
	display: none;
}

#canvas.canvas {
	z-index: 2;
	opacity: 1.0;
}

#editor.canvas {
	z-index: 1;
}

.toolbar {
	font-size: 12px;
	width: 630px;
	padding: 3px;
	margin-bottom: 5px;
}

.toolbar div.space {
	display: inline-block;
	height: 1px;
	width: 30px;
}

.toolbar #progress {
	display: inline-block;
	width: 400px;
	margin-left: 10px;
}

.toolbar .ui-slider-range-min {
	background: #3BAAE3;
}

.toolbar .ui-slider .ui-slider-handle {
	width: 0.6em;
	margin-left: -.3em;
	outline: none;
}

#editor .ace_gutter {
	background: #DEEDF7;
}

#editor .ace_scroller {
	overflow-x: auto;
}

#editor .ace_sb {
	overflow-y: auto;
}

#player {
	position: absolute;
	left: -999px;
}

#timeleft {
	position: relative;
	top: -2px;
	margin-left: 10px;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 4px;
	padding: 3px;
}

#tests {
	position: absolute;
	width: 300px;
	font-size: 12px;
	top: 0px;
	right: -310px;
}

#tests textarea {
	width: 100%;
	min-height: 100px;
	margin-top: 10px;
}

#exercise-page .editor {
	position: relative;
	width: 640px;
	height: 360px;
}

#exercise-page .editor .ace_gutter {
	background: #DEEDF7;
}

#exercise-page .editor .ace_scroller {
	overflow-x: auto;
}

#exercise-page .editor .ace_sb {
	overflow-y: auto;
}

#exercise-page #exercise-editor {
	position: relative;
}

#exercise-page #tests {
	right: 0px;
}

#exercise-page .editor-form {
	margin-right: 315px;
}

#exercise-page .ui-tabs {
	padding: 0;
}

#exercise-page .ui-tabs-panel {
	padding: 8px 0;
}

#exercise-page .ui-tabs.ui-widget-content {
	border: none;
	background: #fff;
}

#exercise-page .toolbar {
	width: auto;
}

#exercise-page #add-problem {
	float: right;
}

#exercise-page #overlay {
	display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    z-index: 3;
}

#exercise-page .sorting h3:not(.exercise-name) a {
	cursor: move;
}

#exercise-page .add-hint {
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 12px;
}

#exercise-page #hints .hint {
    position: relative;
    padding: 4px 40px 4px 25px;
    margin: 4px;
}

#exercise-page #hints span.grip {
    position: absolute;
    top: 9px;
    left: 4px;
}

#exercise-page #hints input {
	width: 100%;
}

#exercise-page #hints .remove-hint {
    font-size: 9px;
    position: absolute;
    top: 7px;
    right: 4px;
}