body {
	background: #FFF;
	font-family: Helvetica, Arial;
	font-size: 12px;
}

#canvas-editor, #editor, #canvas, #play-overlay, #tests-editor {
	position: relative;
	width: 640px;
	height: 360px;
	top: 0px;
	left: 0px;
}

#canvas, #play-overlay {
	position: absolute;
}

#canvas {
	z-index: 1;
	cursor: crosshair;
	opacity: 0.3;
}

#editor, #tests-editor {
	z-index: 2;
	background: #FFF;
}

#play-overlay {
	z-index: 3;
	display: none;
}

#canvas.canvas {
	z-index: 2;
	opacity: 1.0;
}

#editor.canvas {
	z-index: 1;
}

#editor-box, #tests-box {
	overflow: hidden;
	position: absolute;
	border-bottom: none;
	top: 0px;
	left: 0px;
}

#tests-editor {
	height: 393px;
}

#editor-box-tabs-nav {
	position: absolute;
	top: 394px;
	left: 0px;
	width: 636px;
	padding-left: 4px;
	padding-right: 0px;
	z-index: 10;
	border-top: 1px solid #327E04;
}

#editor-box-tabs-nav li {
	top: -2px;
	border-top: none;
	border-bottom: 1px solid #D4CCB0 !important;
	margin-right: 4px;
}

#editor-box-tabs-nav li.ui-tabs-selected {
	top: -3px;
	border-bottom: 1px solid #327E04 !important;
}

#editor-box-tabs-nav li a {
	padding: 3px 8px;
}

#output {
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: auto;
	border-width: 1px;
	width: 640px;
	height: 394px;
	padding: 0px;
	border-bottom: none;
}

#output form {
	display: inline-block;
	margin: 0;
}

#output div {
	line-height: 28px;
	margin: 2px 5px;
	font-family: Monaco, Courier New;
	font-size: 12px;
}

#output div input.text {
	font-family: Monaco, Courier New;
	font-size: 12px;
	width: 175px;
}

.toolbar {
	font-size: 12px;
	width: 630px;
	padding: 3px;
	margin-bottom: 5px;
}

#canvas-editor .toolbar {
	margin-bottom: 0px;
	border: none;
	border-top: 1px solid #DDD;
}

.toolbar div.space {
	display: inline-block;
	height: 1px;
	width: 30px;
}

.toolbar #progress {
	display: inline-block;
	width: 400px;
	margin-left: 10px;
}

.toolbar .ui-slider-range-min {
	background: #3BAAE3;
}

.toolbar .ui-slider .ui-slider-handle {
	width: 0.6em;
	margin-left: -.3em;
	outline: none;
}

a.ui-button:link:hover,
a.ui-button:visited:hover {
	color: #FFF;
}

#editor .ace_gutter, #tests-editor .ace_gutter {
	background: #F5F3E5; /*#D7EBF9;*/
	width: 50px;
}

#editor .ace_scroller, #tests-editor .ace_scroller {
	overflow-x: auto;
}

#editor .ace_sb, #tests-editor .ace_sb {
	overflow-y: auto;
}

#editor .ace_active_line, #tests-editor .ace_active_line {
	background: rgba(215, 235, 249, 0.5);
}

#player {
	position: absolute;
	left: -999px;
}

#timeleft {
	position: relative;
	top: -2px;
	margin-left: 10px;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 4px;
	padding: 3px;
}

#tests {
	position: absolute;
	width: 300px;
	font-size: 12px;
	top: 0px;
	right: -308px;
}

#tests textarea {
	width: 100%;
	min-height: 100px;
	margin-top: 10px;
}

#play-page .tipbar {
	background: rgba(0, 0, 0, 0.6);
	color: white;
	position: absolute;
	width: 638px;
	min-height: 40px;
	bottom: 5px;
	left: 0px;
	z-index: 5;
	display: none;
	border: none;
	font-weight: normal;
}

#play-page .tipbar.error {
	background: rgba( 255, 0, 0, 0.6 );
}

#play-page .tipbar .text-wrap {
	margin: 8px 20px 24px 8px;
}

#play-page .tipbar .tipnav {
	position: absolute;
	right: 3px;
	bottom: 4px;
}

#play-page .tipbar .tipnav a {
	display: inline-block;
	background: rgba( 255, 255, 255, 0.2 );
	border-radius: 5px;
	padding: 1px 1px 1px 3px;
	font-size: 10px;
	line-height: 16px;
	height: 16px;
}

#play-page .tipbar .tipnav a.prev {
	padding: 1px 3px 1px 1px;
}

#play-page .tipbar .tipnav a .ui-icon {
	display: inline-block;
	vertical-align: middle;
	margin-top: -4px;
}

#play-page .tipbar .close {
	position: absolute;
	top: 4px;
	right: 4px;
}

#play-page .tipbar form input {
	margin-top: 8px;
	margin-bottom: 8px;
}

#play-page .tipbar form .ui-button {
	margin-left: 8px;
}

#play-page .tipbar .status .ui-icon {
	display: inline-block;
	position: relative;
	top: 4px;
}

#play-page #playbar {
	display: none;
}

#play-page #exercise-tabs {
	width: 948px;
}

#play-page #code {
	padding: 0;
}

#play-page #code .toolbar {
	width: auto;
	overflow: auto;
	background: #70C448; /*#F5F3E5;*/ /*#D7EBF9;*/
	position: relative;
	z-index: 5;
}

#play-page #code .toolbar.top-toolbar {
	background: #70C448;
}

#play-page #code .top-toolbar {
	border-top: none;
}

#play-page #code .toolbar .ui-button.right {
	float: right;
}

#play-page .ui-tabs-nav .icon-tab a {
	padding-left: 2em;
}

#play-page .ui-tabs-nav a span {
	display: inline-block;
	position: absolute;
	top: 7px;
	left: 8px;
}

#play-page #main-tabs-nav {
	border-bottom-color: #327E04; /*#D4CCB0;*/ /*#2779AA;*/
	width: 942px;
}

#play-page .#main-tabs-nav li.ui-tabs-selected {
	/*background: #F5F3E5;*/ /*#D7EBF9;*/
	/*color: #000;*/ /*#2779AA;*/
	/*border-color: #D4CCB0;*/ /*#2779AA;*/
}

/*
#play-page .ui-tabs-nav li.ui-tabs-selected a {
	color: #000;
}
*/

#play-page #tests h3 {
	font-size: 1em;
	padding: .5em .5em .5em .7em;
	cursor: auto;
	background: #F5F3E5; /*#D7EBF9;*/
	border: 1px solid #D4CCB0;
	border-bottom: none;
}

#play-page #tests .ui-widget-content {
	margin-bottom: 1em;
	border-top: none;
}

#play-page #tests .desc {
	padding: 1em .7em;
}

#play-page #next-problem-desc {
	display: none;
}

#play-page #next-problem-desc p .ui-icon {
	display: inline-block;
	position: relative;
	top: 4px;
}

#play-page #results {
	display: none;
}

#play-page #results fieldset {
	border: 1px solid #CCC;
	padding: 4px;
	border-radius: 4px;
	margin-bottom: 8px;
}

#play-page #results legend {
	padding: 0 8px;
	font-size: 12px;
}

#play-page #results .ui-button {
	margin-top: 1em;
	display: none;
}

#play-page #results ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#play-page #results li {
	margin: 4px 0;
	padding: 2px;
	background: #FFF;
	border-radius: 5px;
	position: relative;
}

#play-page #results li a {
	text-decoration: none;
	border-bottom: 1px solid #CCC;
}

#play-page #results li .ui-icon {
	display: inline-block;
	float: left;
}

#play-page #results li.error .ui-icon {
	background: url(images/ui-icons_cd0a0a_256x240.png);
	background-position: 0 -144px;
}

#play-page #results li.pass .ui-icon {
	background: url(images/ui-icons_4eb305_256x240.png);
	background-position: -208px -192px;
}

#play-page #results li span.msg {
	display: block;
	margin-left: 20px;
}

#play-page #results .tip {
	display: block;
	position: absolute;
	top: 25px;
	left: 0px;
	background: white;
	border: 2px solid #CCC;
	border-radius: 5px;
	color: black;
	padding: 5px;
	margin: 0 3px;
}

#play-page #results .error .tip {
	border: 2px solid #CD0A0A;
}

#play-page .ui-dialog-titlebar-close {
	display: none;
}

/*
div#play-page,
div#exercise-page {
	padding: 0 2em;
}
*/

#exercise-page a:hover {
	color: auto;
}

#exercise-page .editor {
	position: relative;
	width: 640px;
	height: 360px;
}

#exercise-page .editor .ace_gutter {
	background: #EEE; /*#DEEDF7;*/
}

#exercise-page .editor .ace_scroller {
	overflow-x: auto;
}

#exercise-page .editor .ace_sb {
	overflow-y: auto;
}

#exercise-page #exercise-editor {
	position: relative;
}

#exercise-page #tests {
	right: 0px;
}

#exercise-page #tests textarea {
	margin-bottom: 10px;
}

#exercise-page .editor-form {
	margin-right: 315px;
	display: block;
}

#exercise-page .ui-tabs {
	padding: 0;
}

#exercise-page .ui-tabs-panel {
	padding: 8px 0;
}

#exercise-page .ui-tabs.ui-widget-content {
	border: none;
	background: #fff;
}

#exercise-page .toolbar {
	width: auto;
}

#exercise-page #add-problem, #exercise-page #reorder-problems {
	float: right;
}

#exercise-page #overlay, #play-page #overlay {
	display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    z-index: 50;
}

#exercise-page .sorting h3:not(.exercise-name) a {
	cursor: move;
}

#exercise-page .add-hint {
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 12px;
}

#exercise-page #hints .hint {
    position: relative;
    padding: 4px 40px 4px 25px;
    margin: 4px;
}

#exercise-page #hints span.grip {
    position: absolute;
    top: 9px;
    left: 4px;
}

#exercise-page #hints input {
	width: 100%;
}

#exercise-page #hints .remove-hint {
    font-size: 9px;
    position: absolute;
    top: 7px;
    right: 4px;
}

#exercise-page .ui-accordion-content {
	overflow: hidden;
}

#exercise-page .ui-button-text,
#exercise-page .ui-tabs-nav a,
#exercise-page .ui-accordion-header.ui-state-default a {
	font-weight: normal;
}