[submodule "external/multirecorderjs"]
	path = external/multirecorderjs
	url = https://github.com/Khan/MultiRecorderJS
[submodule "external/transloaditxhr"]
	path = external/transloaditxhr
	url = https://github.com/Khan/transloadit_xhr
[submodule "external/TraceKit"]
	path = external/TraceKit
	url = https://github.com/Khan/TraceKit
[submodule "external/structured-blocks"]
	path = external/structured-blocks
	url = https://github.com/Khan/structured-blocks
[submodule "external/structuredjs"]
	path = external/structuredjs
	url = https://github.com/Khan/structuredjs
[submodule "external/stepper"]
	path = external/stepper
	url = https://github.com/kevinb7/stepper
[submodule "external/processing-js"]
	path = external/processing-js
	url = https://github.com/kevinb7/processing-js
[submodule "external/escodegen"]
	path = external/escodegen
	url = https://github.com/Khan/escodegen
