.tooltip.autosuggest {
    margin-top: -38px;
    max-width: 500px;
    opacity: 0.8;
    color: white;
    width: auto;
    font-size: 12px;
    font-family: monospace;
}

.tooltip.autosuggest .autosuggest-error {
    color: red;
 }

.tooltip.autosuggest .autosuggest-function {
    cursor: pointer;
    margin-right: 2px;
 }

.tooltip.autosuggest .autosuggest-highlight {
    background-color: #FFFF00;
    color: black;
}

.tooltip.autosuggest .autosuggest-info {
    color: #ddd;
}

.tooltip .current-param {
    color: lightblue;
    font-size: 15px;
    font-weight: 900;
}
