.scratchpad-wrap {
    width: 100%;
}

.scratchpad-editor-wrap {
    margin-right: 402px;
}

.scratchpad-editor {
    width: 100%;
    height: 400px;
}

.scratchpad-canvas-wrap {
    float: right;
}

#output {
    width: 400px;
    height: 400px;
}

#output-frame {
    width: 100%;
    height: 100%;
}