/**
 * Code Error Reporting
 * --------------------
 *
 * Indicates to users if something is wrong in the code. Overlays on top
 * of the canvases.
 */
.tipbar {
    border-radius: 10px;
    /* Needs to match the background image */
    background: #F9F9F9;
    border: 1px solid #EEE;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: #000;
    display: none;
    font-family: Helvetica;
    font-weight: normal;
    left: 125px;
    margin: auto;
    min-height: 40px;
    position: absolute;
    top: 100px;
    width: 260px;
}
.tipbar .error-buddy {
    background: url(../../images/scratchpads/error-buddy.png);
    cursor: move;
    height: 116px;
    left: -140px;
    opacity: 0.75;
    position: absolute;
    top: -12px;
    width: 130px;
}
.tipbar .speech-arrow {
    background-image: url(../../images/scratchpads/speech-arrow.png);
    background-repeat: no-repeat;
    height: 24px;
    left: -14px;
    position: absolute;
    top: 40px;
    width: 14px;
}
.tipbar .text-wrap {
    line-height: 1.4em;
    margin: 8px 8px 33px 8px;
}
.tipbar .text-wrap .message {
    line-height: 20px;
    margin: 10px 0px;
    text-align: left;
}
.tipbar .text-wrap .message .quote {
    border-radius: 5px;
    background: #fff;
    border: 1px solid #EEE;
    display: inline-block;
    font-family: Consolas, Courier New, monospace;
    font-size: 14px;
    line-height: 22px;
    margin: 0px 2px;
    padding: 1px 4px;
    text-align: left;
}
.tipbar .text-wrap .oh-no {
    font-size: 13px;
    font-weight: bold;
}
.tipbar .text-wrap .show-me a {
    color: #005987;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    left: 7px;
}
.tipbar .text-wrap .show-me a:hover {
    color: #678D00;
    text-decoration: underline;
}
.tipbar .tipnav {
    right: 7px;
    position: absolute;
}
.tipbar .tipnav a {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    color: #000;
    display: inline-block;
    font-size: 10px;
    height: 16px;
    line-height: 16px;
    padding: 1px 1px 1px 3px;
}
.tipbar .tipnav a.prev {
    padding: 1px 3px 1px 1px;
}
.tipbar .tipnav a .ui-icon {
    background-image: url(../../images/scratchpads/ui-icons_808080_256x240.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    margin-top: -4px;
    overflow: hidden;
    text-indent: -99999px;
    vertical-align: middle;
    width: 16px;
}
.tipbar .tipnav a .ui-icon.ui-icon-circle-triangle-w {
    background-position: -80px -192px;
}
.tipbar .tipnav a .ui-icon.ui-icon-circle-triangle-e {
    background-position: -48px -192px;
}
.tipbar .close {
    background-color: transparent;
    border: none;
    color: black;
    float: right;
    text-shadow: 0 1px 0 #CDCDCD;
}
.tipbar .text a {
    text-decoration: underline;
}
.tipbar form input {
    margin-bottom: 8px;
    margin-top: 8px;
}
.tipbar form .ui-button {
    margin-left: 8px;
}
.tipbar .status .ui-icon {
    display: inline-block;
    position: relative;
    top: 4px;
}
#test-errors {
    color: red;
    position: absolute;
    z-index: 1000000;
}
/**
 * == COMPONENTS ========================================================
 * These styles correspond to self-contained graphical components
 */
/**
 * Overlays
 * --------
 *
 * Transparent or translucent overlays placed on top of the editor and/or canvas
 * in order to disable interaction with them. The closest parent with
 * position: relative or position: absolute determines the scope of the page
 * blocked by the overlay.
 */
.overlay {
    height: 100%;
    left: 0px;
    margin: 0;
    position: absolute;
    top: 0px;
    width: 100%;
}
.error-overlay {
    background: rgba(255, 255, 255, 0.6);
    z-index: auto;
}
