.tooltip {
    background: black;
    border-radius: 7px;
    box-shadow: 0px 0px 8px #000000;
    display: block;
    font-size: 12px;
    line-height: 12px;
    margin-left: -28px;
    margin-top: -37px;
    opacity: 0.2;
    padding: 5px;
    position: absolute;
    width: 50px;
    z-index: 100;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html.playing .tooltip.hide-while-playing {
    display: none;
}

.tooltip.picker {
    box-shadow: 0px 0px 4px #000000;
    height: 15px;
    left: 22px;
    margin-left: 13px;
    margin-top: -5px;
    opacity: 1;
    width: 15px;
}

.tooltip.picker:hover,
.tooltip.picker.active {
    height: 156px;
    margin-left: 13px;
    width: 196px;
}

.tooltip:hover {
    opacity: 1;
}

.tooltip .arrow {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid black;
    bottom: -8px;
    left: 21px;
    position: absolute;
}

.tooltip.dragging {
    cursor: none;
    opacity: 1;
}

.tooltip .scrubber, .scrubber-handle {
    border-radius: 10px;
    cursor: ew-resize;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.scrubber-handle {
    background: black;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    z-index: 100;
}

.tooltip.picker .arrow {
    border-bottom: 8px solid transparent;
    border-left: none;
    border-right: 8px solid black;
    border-top: 8px solid transparent;
    bottom: auto;
    left: -7px;
    top: 5px;
}

.tooltip.picker .picker {
    border: 1px solid white;
    height: 15px;
    margin-left: -1px;
    margin-top: -1px;
    overflow: hidden;
    position: relative;
    width: 15px;
}

.tooltip.picker:hover .picker,
.tooltip.picker.active .picker {
    height: 160px;
    width: 198px;
    border-width: 0px;
}

.tooltip.picker:hover .picker .colorpicker,
.tooltip.picker.active .picker .colorpicker {
    left: -10px;
    top: -10px;
}

.tooltip.picker:hover .colorpicker_new_color,
.tooltip.picker.active .colorpicker_new_color {
    display: none;
}

.tooltip.picker .picker .colorpicker {
    left: 0px;
    position: relative;
    top: 0px;
}

.tooltip.picker .colorpicker_new_color {
    height: 15px;
    left: 0px;
    top: 0px;
    width: 15px;
}

.tooltip.mediapicker {
    margin-left: 10px;
    margin-top: -22px;
    opacity: 1;
    width: auto;
}

.tooltip.mediapicker:hover {
    max-height: 300px;
    width: 343px;
}

.tooltip.mediapicker:hover div.current-media {
    display: none;
}

.tooltip.mediapicker:hover div.media-groups {
    display: block;
}

.tooltip.mediapicker:hover div.media-groups p {
    font-size: 12px;
    margin: 5px;
}

.tooltip.mediapicker div.current-media {
    background: #FFF;
    padding: 2px;
}

.tooltip.mediapicker div.current-media img {
    max-width: 50px;
    max-height: 50px;
}

.tooltip.mediapicker div.media-groups {
    background: white;
    display: none;
    max-height: 300px;
    overflow-y: scroll;
}

.tooltip.mediapicker div.media-group {
    overflow: auto;
}

.tooltip.mediapicker div.media-group .image {
    background: white;
    border: 2px solid #EEE;
    cursor: pointer;
    float: left;
    height: 50px;
    margin: 5px;
    overflow: hidden;
    padding: 5px;
    white-space: nowrap;
    width: 140px;
}

.tooltip.mediapicker .media-group .image.active {
    border-color: #000;
}

.tooltip.mediapicker .media-group .image img {
    max-height: 50px;
    max-width: 50px;
    margin-right: 5px;
    vertical-align: middle;
}

.tooltip.mediapicker .media-group .sound audio {
    max-width: 80px;
}

.tooltip.mediapicker .media-group h3 {
    margin: 5px;
}

.tooltip.mediapicker .arrow, .tooltip.mediapicker-preview .arrow {
    border-bottom: 8px solid transparent;
    border-left: none;
    border-right: 8px solid black;
    border-top: 8px solid transparent;
    bottom: auto;
    left: -7px;
    top: 27px;
}


/** For the media picker preview tool **/

.tooltip.mediapicker-preview {
    margin-left: 10px;
    margin-top: -40px;
    width: auto;
    opacity: 1;
}

.tooltip.mediapicker-preview .arrow {
    top: 40px;
}

.tooltip.mediapicker-preview .mediapicker-preview-content {
    background-color: #FFF;
    padding: 5px;
    margin-right: 0;
}

.tooltip.mediapicker-preview.mediapicker__image .mediapicker-preview-content {
    height: 135px;
    width: 100px;
}

.tooltip.mediapicker-preview.mediapicker__sound .mediapicker-preview-content {
    width: 100px;
}

.tooltip.mediapicker-preview audio {
    max-width: 100%;
}

/** Used in both the modal and the picker **/

.thumb-shell {
    height: 100px;
    width: 100px;
    margin-bottom: 5px;
    text-align: center;
}

.thumb-shell > .thumb-error {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: red;
    font-weight: bold;
    padding-top: 30%;
}

.thumb-shell img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.tooltip.mediapicker-preview .thumb-throbber{
    position: absolute;
    top: 14px;
    left: 50%;
    margin-left: -9px; 
}

.tooltip .ui-slider-handle {
    width: 8px;
}

.tooltip .colorpicker_field {
    display: none;
}

/** Media picker CSS: Used for both an image and audio picker **/
.mediapicker-modal {
    width: 520px;
    margin-left: -250px;
    padding: 0;
    top: 50%;
    margin-top: -225px;
}

.mediapicker-modal h3 {
    font-size: 20px;
    margin-bottom: 0;
}

.mediapicker-modal .mediapicker-modal-content {
    width: 520px;
    height: 320px;
    overflow-y: auto;
    float: left;
    position: relative;
    box-sizing: border-box;
    padding: 0 120px 0 20px;
}

.mediapicker-modal .tab-pane {
    position: relative;
}

.mediapicker-modal .mediapicker-modal-file {
    cursor: pointer;
}

.mediapicker-modal .image {
    display: inline-block;
    width: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.mediapicker-modal .image img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.mediapicker-modal .sound {
    border-radius: 6px;
    margin-bottom: 6px;
    padding: 4px 2px 2px 4px;
}

.mediapicker-modal .sound audio {
    width: 250px;
    background: black;
}

.mediapicker-modal .sound span {
    font-style: italic;
    vertical-align: top;
    padding-top: 5px;
    display: inline-block;
}

.mediapicker-modal .image.active img, .mediapicker-modal .sound.active audio {
    box-shadow: 0 0 10px 1px #699c52;
}

.mediapicker-modal .image span {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-style: italic;
}

.mediapicker-modal .top-shadow {
    box-shadow: 0px 5px 7px -6px #888888 inset
}

.mediapicker-modal .right {
    width: 100px;
    position: absolute;
    top: 10px;
    right: 20px;
}

.mediapicker-modal-footer {
    clear: both;
    background-color: white;
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.mediapicker-modal-footer button{
    margin-left: 10px;
}

.mediapicker-modal .nav-tabs {
    margin: 18px 0 0;
    padding-left: 20px;
}

.nav-pills a {
    color: #699c52;
}

.nav-pills .active a {
    background-color: #77b05d;
}

.scrubber-handle .flipped-arrow {
    display: inline-block;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.block .tooltip:not(.picker) {
    margin-left: -35px;
    margin-top: 5px;
    opacity: 1;
    padding: 1px;
    width: 70px;
}

body > .scrubber-handle,
.block .tooltip:not(.picker) .scrubber-handle {
    font-size: 16px;
    line-height: 16px;
    padding: 8px;
}

.block .tooltip:not(.picker) .arrow {
    border-top: none;
    border-bottom: 8px solid #000;
    bottom: auto;
    left: 28px;
    top: -8px;
}

.block .tooltip:not(.picker).click-only {
    width: 94px;
    margin-left: -47px;
    background: rgba(0, 0, 0, 0.8);
}

.block .tooltip:not(.picker).click-only .scrubber-handle {
    background: none;
    cursor: default;
}

.block .tooltip:not(.picker).click-only .scrubber-handle span[role=button] {
    background: #000;
    cursor: pointer;
    width: 30px;
    height: 30px;
    line-height: 27px;
    font-size: 30px;
    display: inline-block;
    border-radius: 15px;
    border: 1px solid #FFF;
}

.block .tooltip:not(.picker).click-only .scrubber-handle span[role=button].active {
    background: #FFF;
    color: #000;
    border: 1px solid #000;
}

.block .tooltip:not(.picker).click-only .scrubber-handle span[role=button]:not(.flipped-arrow) {
    margin-right: 16px;
}

.block .tooltip:not(.picker).click-only .arrow {
    left: 40px;
    border-bottom-color: rgba(0, 0, 0, 0.8);
}