.block-toolbox {
    width: 180px;
    position: absolute;
    top: 0px;
    right: 0px;
    background: #93C263;
    height: 100%;
}

.block-toolbox .toolbox-group {
    float: left;
}

.block-editor {
    margin-right: 180px;
}