<div class="scratchpad-debugger">
    Debug Mode
    <input type="checkbox" class="debug-mode">
    <span class="debugger-level" style="display:none;margin-left:20px;">
        Level
        <select class="debugger-level-select">
            <option value="beginner" selected>Beginner</option>
            <option value="advanced">Advanced</option>
        </select>
    </span>

    <div class="debugger-simple" style="display:none;margin-top:5px;">
        <button class="debug-begin" style="margin-right:20px;">Begin</button>
        <button class="step-in" disabled>Step</button>
        <button class="debug-end" disabled style="margin-left:20px;">End
        </button>
    </div>
    <div class="debugger-complex" style="display:none;margin-top:5px;">
        <button class="debug-restart" style="margin-right:10px;">Restart
        </button>
        <!-- start/restart -->
        <button class="step-over" disabled>Step Over</button>
        <button class="step-in" disabled>Step In</button>
        <button class="step-out" disabled>Step Out</button>
        <button class="debug-continue" disabled style="margin-left:10px;">
            Continue
        </button>
    </div>
</div>
