<div class="scratchpad-debugger">
    {{#_}}Debug Mode{{/_}}
    <input type="checkbox" class="debug-mode">
    <span class="debugger-level" style="display:none;margin-left:20px;">
        {{#_}}Level{{/_}}
        <select class="debugger-level-select">
            <option value="beginner" selected>
                {{#_}}Beginner{{/_}}
            </option>
            <option value="advanced">
                {{#_}}Advanced{{/_}}
            </option>
        </select>
    </span>

    <div class="debugger-simple" style="display:none;margin-top:5px;">
        <button class="debug-begin" style="margin-right:20px;">
            {{#_}}Begin{{/_}}
        </button>
        <button class="step-in" disabled>
            {{#_}}Step{{/_}}
        </button>
        <button class="debug-end" disabled style="margin-left:20px;">
            {{#_}}End{{/_}}
        </button>
    </div>
    <div class="debugger-complex" style="display:none;margin-top:5px;">
        <button class="debug-restart" style="margin-right:10px;">
            {{#_}}Restart{{/_}}
        </button>
        <!-- start/restart -->
        <button class="step-over" disabled>
            {{#_}}Step Over{{/_}}
        </button>
        <button class="step-in" disabled>
            {{#_}}Step In{{/_}}
        </button>
        <button class="step-out" disabled>
            {{#_}}Step Out{{/_}}
        </button>
        <button class="debug-continue" disabled style="margin-left:10px;">
            {{#_}}Continue{{/_}}
        </button>
    </div>
</div>
