<div class="scratchpad-dev-record">
    <div class="scratchpad-dev-record-buttons">
        <button class="scratchpad-dev-new-chunk simple-button">{{#_}}Start New Chunk{{/_}}</button>
        <button class="scratchpad-dev-discard-chunk simple-button">{{#_}}Discard Recorded Chunk{{/_}}</button>
        <button class="scratchpad-dev-save-chunk simple-button">{{#_}}Save Recorded Chunk{{/_}}</button>
        <button class="scratchpad-dev-refresh-editor-state simple-button">{{#_}}Refresh Editor State{{/_}}</button>
    </div>
    <div class="show-audio-chunks-wrapper">
        <p>{{#_}}Last audio chunk recorded: {{/_}}<span class="last-audio-chunk">{{#_}}Empty{{/_}}</span></p>
        <p>{{#_}}All saved audio chunks: {{/_}}<span class="saved-audio-chunks">{{#_}}Empty{{/_}}</span></p>
    </div>
</div>