<div class="tooltip imagemodal-preview">
	<div class="content">
		<img src="/images/scratchpads/throbber.gif" class="thumb-throbber" />
		<div class="thumb-shell"><img class="thumb" /><div class="thumb-error"></div></div> 
		<button class="kui-button kui-button-submit kui-button-primary" style="padding: 5px; width: 100%; margin: 0 auto;" >
			{{#_}}Pick Image:{{/_}}
		</button> 
	</div>
	<div class="arrow"></div>
</div>
