<div class="tooltip mediapicker-preview {{#if isAudio}}mediapicker__sound{{else}}mediapicker__image{{/if}}">
	<div class="mediapicker-preview-content">
		
		{{#if isAudio}}
		<audio controls class="mediapicker-preview-file"></audio>
		<div class="thumb-error"></div>
		{{else}}
		<img src="/images/throbber.gif" class="thumb-throbber" />
		<div class="thumb-shell">
			<img class="thumb" />
			<div class="thumb-error"></div>
		</div> 
		{{/if}}

		<button class="kui-button kui-button-submit kui-button-primary" style="padding: 5px; width: 100%; margin: 0 auto;" >
			{{#_}}Pick file:{{/_}}
		</button> 
	</div>
	<div class="arrow"></div>
</div>