<div class="tipbar">
    <div class="speech-arrow"></div>
    <div class="error-buddy"></div>

    <div class="text-wrap">
        <button class="close" type="button" aria-label="Close">&times;</button>
        <div class="oh-no">{{ohNoesMsg}}</div>
        <div class="message"></div>
        <div class="show-me"><a href>{{showMeMsg}}</a></div>
        <div class="tipnav">
            <a href="javascript:void(0);" class="prev" title="{{prevMsg}}">
                <span class="ui-icon ui-icon-circle-triangle-w"></span>
            </a>
            <span class="current-pos"></span>
            <a href="javascript:void(0);" class="next" title="{{nextMsg}}">
                <span class="ui-icon ui-icon-circle-triangle-e"></span>
            </a>
        </div>
    </div>
</div>