<div class="tipbar">
    <div class="speech-arrow"></div>
    <div class="error-buddy"></div>
    <div class="tipnav">
        <a href="" class="prev"><span class="ui-icon ui-icon-circle-triangle-w"></span></a>
        <span class="current-pos"></span>
        <a href="" class="next"><span class="ui-icon ui-icon-circle-triangle-e"></span></a>
    </div>
    <div class="text-wrap">
        <div class="oh-no">{{#_}}Oh noes!{{/_}}</div>
        <div class="message"></div>
        <div class="show-me"><a href>{{#_}}Show me where{{/_}}</a></div>
    </div>
</div>