{% extends "labs/template.html" %}

{% block pagescript %}

<link rel="stylesheet" href="/canvas-editor/css/style.css" />
<link rel="stylesheet" href="/canvas-editor/css/jquery-ui.css" />

<script src="/canvas-editor/js/ace.js"></script>
<script src="/canvas-editor/js/ace-mode-javascript.js"></script>
<script src="/canvas-editor/js/ace-theme-textmate.js"></script>

<script src="/canvas-editor/js/jquery-ui.js"></script>
<script src="/canvas-editor/js/editor.js"></script>
<script src="/canvas-editor/js/utils.js"></script>
<script src="/canvas-editor/js/exercise-ui.js"></script>

{% endblock pagescript %}

{% block pagecontent %}
<div id="exercise-page">
<div class="toolbar ui-widget-header ui-corner-all">
	<a href="" id="new" class="ui-button">
		<span class="ui-icon-document"></span>
		<span class="ui-button-text">New</span>
	</a>
	<a href="" id="open" class="ui-button">
		<span class="ui-icon-folder-open"></span>
		<span class="ui-button-text">Open</span>
	</a>
	<a href="" id="save" class="ui-button ui-state-disabled">
		<span class="ui-icon-disk"></span>
		<span class="ui-button-text">Save</span>
	</a>
	<a href="" id="add-problem" class="ui-button ui-state-disabled">
		<span class="ui-icon-plusthick"></span>
		<span class="ui-button-text">Add Problem</span>
	</a>
	<a href="" id="reorder-problems" class="ui-button ui-state-disabled">
		<span class="ui-icon-shuffle"></span>
		<span class="ui-button-text">Re-order Problems</span>
	</a>
</div>
<div id="exercise-editor">
	<form action="" method="POST" class="editor-form">
		<div id="code-tabs">
			<ul>
				<li><a href="#start-code-tab">Starting Code</a></li>
				<li><a href="#finish-code-tab">Solution</a></li>
				<li><a href="#validate-code-tab">Validation</a></li>
				<li><a href="#hints-tab">Hints</a></li>
				<!--<li><a href="#options-tab">Options</a></li>-->
			</ul>
			<div id="start-code-tab" class="ui-tabs-hide"><div id="start-code" class="editor"></div></div>
			<div id="finish-code-tab" class="ui-tabs-hide"><div id="finish-code" class="editor"></div></div>
			<div id="validate-code-tab" class="ui-tabs-hide"><div id="validate-code" class="editor"></div></div>
			<div id="hints-tab" class="ui-tabs-hide">
				<a href="" class="add-hint ui-button">
					<span class="ui-icon-plusthick"></span>
					<span class="ui-button-text">Add Hint</span>
				</a>
				<div id="hints"></div>
			</div>
			<!--<div id="options-tab">
				<p>Module: <input type="text" id="module" placeholder="Module Name" /></p>
			</div>-->
			<div id="overlay"></div>
		</div>
	</form>
	<div id="tests"></div>
</div>
</div>
{% endblock pagecontent %}
 
{% block bottompagescript %}

<script type="text/html" id="form-tmpl">
	<h3><a href='#' class='name'>Exercise</a></h3>
	<div>
		<form action="" method="POST">
			<input type="text" placeholder="Title" name="title" /><br/>
			<textarea name="desc" placeholder="Description"></textarea>
			<a href="" class="ui-button delete-problem">
				<span class="ui-icon-closethick"></span>
				<span class="ui-button-text">Remove</span>
			</a>
			<a href="" class="ui-button set-cursor">
				<span class="ui-icon-arrowthick-1-nw"></span>
				<span class="ui-button-text">Set Cursor</span>
			</a>
		</form>
	</div>
</script>
<script type="text/html" id="hint-tmpl">
	<div class="hint ui-state-default">
		<span class="ui-icon ui-icon-grip-dotted-horizontal grip"></span>
		<input type="text" class="hint-text" />
		<a href="" class="remove-hint ui-button">
			<span class="ui-icon-closethick"></span>
		</a></li>
</script>

{% endblock bottompagescript %}
