{% extends "labs/template.html" %}

{% block pagecss %}
{{ js_css_packages.css_package("bootstrap") }}
{{ js_css_packages.css_package("canvas-editor") }}
{% endblock pagecss %}


{% block pagecontent %}

<div id="play-page">
<h1>Loading...</h1>
<div id="exercise-tabs">
	<ul id="main-tabs-nav" class="ui-tabs-nav"></ul>
	<div id="code">
		<div class="top-toolbar toolbar ui-widget-header ui-corner-bottom">
			<div id="playbar">
				<a href="" id="play" class="ui-button">
					<span class="ui-icon-play"></span>
				</a>
				<div id="progress"></div>
				<span id="timeleft"></span>
			</div>
		</div>
		<div id="canvas-editor" class="row">
			<div id="tests" class="span5">
				<ul class="ui-tabs-nav">
					<li><a href="#task-tab">Problem</a></li>
				</ul>
				<div id="task-tab">
					<div id="problem">
						<div class="ui-widget-content ui-corner-all">
							<div class="desc">
								<div class="text"></div>
								<div id="next-problem-desc">
									<p><span class="ui-icon ui-icon-circle-check"></span> You've gotten this problem correct!</p>
								</div>
							</div>
						</div>
					</div>
					<div id="results">
						<h3 class="ui-helper-reset ui-corner-top">Tasks</h3>
						<div class="ui-widget-content">
							<div class="desc">
								<ul></ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="editor-box" class="span8 editor-box ui-widget-content ui-corner-top">
				<div id="editor" class="editor ui-corner-top"></div>
				<canvas id="canvas" width="640" height="360"></canvas>
				<div class="toolbar ui-widget-header">
					<a href="" id="reset-code" class="ui-button">
						<span class="ui-icon-arrowreturnthick-1-w"></span>
						<span class="ui-button-text">Reset</span>
					</a>
					
					<a href="" class="next-problem ui-button right">
						<span class="ui-icon-triangle-1-e"></span>
						<span class="ui-button-text">Next Problem</span>
					</a>
					
					<a href="" id="get-hint" class="ui-button ui-state-disabled right">
						<span class="ui-icon-info"></span>
						<span class="ui-button-text">Hints</span>
					</a>
				</div>
			</div>

			<div id="output" class="span7 side editor-box">
				<div class="overlay"></div>
				<div id="output-text"></div>
				<canvas id="output-canvas" width="400" height="360"></canvas>
				<div id="output-text-test"></div>
				<div class="toolbar ui-widget-header">
					<a href="" id="restart-code" class="ui-button right">
						<span class="ui-icon-refresh"></span>
						<span class="ui-button-text">Restart</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="overlay"></div>
</div>

{% endblock pagecontent %}
 
{% block bottompagescript %}
{{ js_css_packages.js_package("canvas-editor-exercise") }}

<script type="text/html" id="tab-tmpl">
	<li class="ui-state-disabled">
		<a href='#code'><span class='ui-icon-pencil ui-icon'></span></a>
	</li>
</script>
<script type="text/html" id="tipbar-tmpl">
<div class="tipbar ui-state-hover">
	<a href="" class="close"><span class="ui-icon ui-icon-circle-close"></span></a>
	<div class="tipnav">
		<a href="" class="prev"><span class="ui-icon ui-icon-circle-triangle-w"></span> Prev</a>
		<a href="" class="next">Next <span class="ui-icon ui-icon-circle-triangle-e"></span></a>
	</div>
	<div class="text-wrap">
		<strong></strong>
		<span class="text"></span>
	</div>
</div>
</script>
<script type="text/html" id="form-tmpl">
	<div>
		<h3 class="title ui-helper-reset ui-corner-top">Exercise</h3>
		<div class="ui-widget-content ui-corner-bottom">
			<p class="desc">Exercise description.</p>
		</div>
	</div>
</script>

{% endblock bottompagescript %}
