{% extends "labs/template.html" %}

{% block pagescript %}

<link rel="stylesheet" href="/canvas-editor/css/style.css" />
<link rel="stylesheet" href="/canvas-editor/css/jquery-ui.css" />

<script src="/canvas-editor/js/ace.js"></script>
<script src="/canvas-editor/js/ace-mode-javascript.js"></script>
<script src="/canvas-editor/js/ace-theme-textmate.js"></script>

<script src="/canvas-editor/js/jquery-ui.js"></script>
<script src="/canvas-editor/js/jquery.simulate.js"></script>
<script src="/canvas-editor/js/record.js"></script>
<script src="/canvas-editor/js/editor.js"></script>
<script src="/canvas-editor/js/canvas.js"></script>
<script src="/canvas-editor/js/utils.js"></script>
<script src="/canvas-editor/js/jshint.js"></script>
<script src="/canvas-editor/js/play-ui.js"></script>

{% endblock pagescript %}

{% block pagetitle %}Computer Science Exercise{% endblock pagetitle %}

{% block pagecontent %}

<div id="play-page">
<div id="exercise-tabs">
	<ul class="ui-tabs-nav"></ul>
	<div id="code">
		<div class="top-toolbar toolbar ui-widget-header ui-corner-bottom">
			<div id="playbar">
				<a href="" id="play" class="ui-button">
					<span class="ui-icon-play"></span>
				</a>
				<div id="progress"></div>
				<span id="timeleft"></span>
			</div>
		</div>
		<div id="canvas-editor">
			<div class="editor-box ui-widget-content ui-corner-all">
				<div id="editor"></div>
				<canvas id="canvas" width="640" height="360"></canvas>
				<div id="hint" class="tipbar">
					<a href="" class="close"><span class="ui-icon ui-icon-circle-close"></span></a>
					<div class="tipnav">
						<a href="" class="prev"><span class="ui-icon ui-icon-circle-triangle-w"></span> Prev</a>
						<a href="" class="next">Next <span class="ui-icon ui-icon-circle-triangle-e"></span></a>
					</div>
					<div class="text-wrap"><strong>Hint:</strong> <span class="text"></span></div>
				</div>
				<div id="error" class="tipbar">
					<a href="" class="close"><span class="ui-icon ui-icon-circle-close"></span></a>
					<div class="tipnav">
						<a href="" class="prev"><span class="ui-icon ui-icon-circle-triangle-w"></span> Prev</a>
						<a href="" class="next">Next <span class="ui-icon ui-icon-circle-triangle-e"></span></a>
					</div>
					<div class="text-wrap"><strong><span class="ui-icon ui-icon-alert"></span> Error:</strong> <span class="text"></span></div>
				</div>
				<div class="toolbar ui-widget-header ui-corner-bottom">
					<a href="" id="view-tests" class="ui-button ui-state-disabled">
						<span class="ui-icon-circle-check"></span>
						<span class="ui-button-text">Tests</span>
					</a>
					
					<a href="" id="get-hint" class="ui-button ui-state-disabled">
						<span class="ui-icon-info"></span>
						<span class="ui-button-text">Hints</span>
					</a>
					
					<a href="" id="run-code" class="ui-button right">
						<span class="ui-icon-script"></span>
						<span class="ui-button-text">Run Code</span>
					</a>
					
					<a href="" id="show-errors" class="ui-button ui-state-disabled right">
						<span class="ui-icon-alert"></span>
						<span class="ui-button-text">Errors</span>
					</a>
				</div>
			</div>
			
			<div id="tests">
				<div id="problem">
					<h3 class="title ui-helper-reset ui-corner-top"></h3>
					<div class="ui-widget-content ui-corner-bottom">
						<div class="desc">
							<div class="text"></div>
							<div id="next-problem-desc">
								<p><span class="ui-icon ui-icon-circle-check"></span> You've gotten this problem correct!</p>
								<a href="" id="next-problem" class="ui-button">
									<span class="ui-icon-triangle-1-e"></span>
									<span class="ui-button-text">Next Problem</span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div id="results">
					<h3 class="ui-helper-reset ui-corner-top">Test Results</h3>
					<div class="ui-widget-content ui-corner-bottom">
						<div class="desc">
							<ul></ul>
							
							<a href="" id="view-tests-2" class="ui-button">
								<span class="ui-icon-carat-1-w"></span>
								<span class="ui-button-text">Back to Your Code</span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div id="player"></div>
			<div id="play-overlay"></div>
		</div>
	</div>
</div>
</div>

{% endblock pagecontent %}
 
{% block bottompagescript %}

<script type="text/html" id="tab-tmpl">
	<li>
		<a href='#code'><span class='ui-icon-pencil ui-icon'></span></a>
	</li>
</script>
<script type="text/html" id="form-tmpl">
	<div>
		<h3 class="title ui-helper-reset ui-corner-top">Exercise</h3>
		<div class="ui-widget-content ui-corner-bottom">
			<p class="desc">Exercise description.</p>
		</div>
	</div>
</script>

{% endblock bottompagescript %}
